absl-py
black
gin-config
gym
gymnasium
matplotlib
minari
psutil
regex
scipy
setuptools

# reliabiility
-r ./a2perf/metrics/reliability/requirements.txt

# codecarbon
-r ./a2perf/metrics/system/codecarbon/requirements-dev.txt

# web_navigation
-r ./a2perf/domains/web_navigation/requirements.txt
