absl-py
black
gin-config
gym
gymnasium
matplotlib
minari
psutil
regex
scipy
setuptools

# reliabiility
-r ./rl_perf/metrics/reliability/requirements.txt

# codecarbon
-r ./rl_perf/metrics/system/codecarbon/requirements-dev.txt

# web_navigation
-r ./rl_perf/domains/web_nav/requirements.txt

# rl_perf
./